body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.hideMe {
	display: none;
}

.showMe {
	display: block;
	width:80%;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #000;
	overflow: auto;
	
}

.showMe h1 {
	color: #fff;
	background-color: black;
	border-radius: 5px 5px 0 0;
	margin-top: 0;
	padding: 5px;
	
}

.showMe img {
	float: left;
	margin: 10px;
	border: 1px solid black;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,.75);
}

/*.dimText {
	color: green;
	border: 2px 
}*/

/*li p {
	margin: 10px;
}*/










