body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666 url(../images/viewport_bg.jpg);
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
#container {
	width: 760px;
	background: #FFFFFF url(../images/content_bg.jpg) repeat-y;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
	padding-bottom: 20px;
} 
#header {
	background: #DDDDDD url(../images/masthead.jpg) no-repeat;
	height: 250px;
	border-bottom: 5px solid #006;
} 
#header h1 {
	position: absolute;
	top: -9999px;

}
#sidebar1 {
	float: left;
	width: 200px;
	background: #EBEBEB;
	padding: 0;
}
#mainContent { 
	margin: 0 0 0 250px;
	padding: 0 20px;
} 
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#navbar {
	list-style: none;
	margin: 0;
	padding:0
}

#navbar a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: block;
	background: #333 url(../images/nav_bg.jpg) repeat-y top left;
	padding: 10px 0 10px 10px;
}

#navbar a:hover, #navbar .currentLink {
	background: #333 url(../images/nav_bg.jpg) repeat-y bottom left;
}

#fishfaq h1 {
	font-size: 125%;
	border-bottom: 1px dashed #006;
	margin-bottom: 0;
}

#fishfaq p {
	margin-top: 10px;
}

#fishfun {
	background: #fff;
	border-collapse: collapse;
	border: 2px solid #006;
}

#fishfun td, #fishfun th {
	padding: 10px;
	vertiacl-align: top;
}

.bottomRow {
	border-bottom: 10px solid #006;
}

label {
	display: block;
	font-size: 80%;
	font-weight: bold;
}

input, textarea {
	border: 1px solid #333;
}

#survivors {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#survivors li {
	display: inline;
	margin: 10px;
	padding: 0;
}
/*********************************************************/
/*           Table colors                                */
/*********************************************************/

.rowA {
	background: #afe2be;
}

.rowB {
	background: #c3d6e3;
}

.rowOver {
	background: #ccc;
}

/**********
/*added rules*/



.fishRowEven {
	background-color: #1cc;
}
.fishRowOdd {
	background-color: #cc1;
}
.fishHighlighted {
	background-color: #c11; 
	cursor: pointer;
}
.fishDisabled {
	background-color: #ccc; 
}