ul {
	list-style: none;
	padding: 0;
	margin: 0;
	}
	
li {
	width: 100px;
	border: 1px solid #333;
	margin: 5px 0;
	}
	
li a {
	text-decoration: none;
	background: #ff0;
	color: #006;
	display: block;
	padding: 5px;
	}
	
li a#current {
	background: #000;
	color: #fff;
	}