body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	background-image: url(../images/page_bg.gif);
}
#wrapper {
	width: 760px;
	margin: 0 auto;
	background: url(../images/bg_tile.png) repeat-y;
	padding: 0 15px;
}

/* Masthead */
#masthead {
	background-image: url(../images/masthead.jpg);
	height: 250px;
	width: 760px;
}
#masthead h1 , #masthead h2{
	position: absolute;
	top: -9999px;
}

/*Navbar*/
#navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg_nav.jpg);
	border: 2px solid #8A000D;
	border-right: none;
	border-left: none;
	overflow: hidden;
}
#navbar li {
	float: left;
	margin: 0;
}
#navbar a {
	display: block;
	border-right: 1px solid #8A000D;
	font-size: 80%;
	font-weight: bold;
	color: #8A000D;
	text-decoration: none;
	padding: 4px 8px;
	margin: 0;
}
#navbar a:hover, #navbar .pageHighlight {
	color: #EDDE11;
	background: #8A000D;
}

/*Global ontent*/
#content {
	padding: 10px;
}
h1, h2, h3, h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
a {
	color: #006;
}
a:hover {
	color: #900;
}
#bottom_cap {
	background-image: url(../images/bg_bottom.png);
	height: 47px;
	width: 790px;
	margin: 0 auto;
}

/* Resources*/
#duck_stories {
	border: 1px solid #333;
	border-collapse: collapse;
}
#duck_stories th, #duck_stories td {
	padding: 5px;
}
/*Gallery*/
#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#gallery li {
	display: inline;
}
#gallery a img {
	border: 4px solid #333;
	padding: 0;
	background: #F1E227;
}
#gallery a:hover img {
	border: 2px solid #333;
	padding: 2px;
}
#gallery a:focus {
	outline: none;
}

/* Form*/
label {
	display: block;
}

/*FAQ*/
#faqs h2 {
	margin-bottom: 0;
}
#faqs p {
	margin-top: 0;
}

/****************************************************************/
/***************************************************************/
/* Your custom styles - must use different names than ALT site */
/***************************************************************/
/***************************************************************/
/* table row colors */
.duckRowEven {
	background-color: #1cc;
}
.duckRowOdd {
	background-color: #cc1;
}
.duckHighlighted {
	background-color: #c11; 
	cursor: pointer;
}
.duckDisabled {
	background-color: #ccc; 
}